<footer class="bg-dark text-center text-white">
    <!-- Grid container -->
    <div class="container p-4">
      <!-- Section: Social media -->
      <section class="mb-2">
        <!-- Facebook -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          target="_blank"><i class="fab fa-facebook-f"></i
        ></a>
  
        <!-- Twitter -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-twitter"></i
        ></a>
  
        <!-- Instagram -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-instagram"></i
        ></a>

      </section>

      <!-- Section: Links -->
      <section class="">
        <!--Grid row-->
        <div class="row">
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase"><i class="fa-solid fa-bolt"></i></h5>
          <!--Grid column-->
  
          <!--Grid column-->
          <ul class="list-unstyled mb-0">
            <li>
              <a href="{% url 'home' %}" class="text-white">Home</a>
            </li>
            <li>
              <a href="#!" class="text-white">About Us</a>
            </li>
            <li>
              <a href="#!" class="text-white">Contact Us</a>
            </li>
            <li>
              <a href="#!" class="text-white">Blog</a>
            </li>
            <li>
                <a href="{% url 'account_login' %}" class="text-white">Sign In</a>
            </li>
            <li>
                <a href="{% url 'account_signup' %}" class="text-white">Sign Up</a>
            </li>
        </div>
        <!--Grid row-->
      </section>
      <!-- Section: Links -->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2024 Copyright: This project was developed and designed by <a class="text-decoration-none text-white" href="https://www.linkedin.com/in/cesar-garcia-637973aa/" target="_blank"><strong>Cesar Garcia</strong></a>.
      | Do you wanna see More projects like this? Follow my Github <a href="#!" class="text-decoration-none text-white"><i class="fab fa-github"></i
        ></a>
    </div>
  </footer>