html {
    height: 100%;
}

body {
    background: url('../media/hero-image.png') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #555;
    font-family: 'Lato';
}

.has-search .form-control {
    padding-left: 2.375rem;
}

/* Insert search icon inside search box */
.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

.shop-now-button {
    min-width: 260px;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: white;
	z-index: -1;
}

.nav-item:hover,
#specials-link:hover,
#user-options:hover,
#shop-cart:hover,
#preworkout-link:hover,
#protein-link:hover,
#all-products-link:hover {
    color: #f16034;
    border-bottom: 1px solid #f16034;
}

/* back to the top button hover effect*/
#btt-button {
    height: 41px;
    width: 41px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    color: white;
    background-color: #f16034;
    border: 2px solid white;
}

#btt-button:hover {
    background-color: white;
    border: 2px solid #f16034;
    cursor: pointer;
    box-shadow: 0px 0px 20px rgba(241, 96, 52,.3);
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}

#btt-link {
    color: white;
}

#btt-link:hover {
    color: #f16034;
}

#product-card:hover {
    box-shadow: 0px 0px 20px rgba(241, 96, 52,.3);
    overflow: hidden;
}

#product-card:hover img{
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}

#thunder-logo {
    color: white;
}
#thunder-logo:hover{
    color: #f16034;
}

#search-input:hover {
    border: 2px solid #f16034;
}

#search-input:hover::placeholder,
#search-input:focus::placeholder,
#search-input:active::placeholder {
    color: #f16034;
}

#shop-now-button {
    color: white;
    background-color: #f16034;
    border: 1px solid white;
    
}

#shop-now-button:hover {
    font-weight: bold;
    color: #f16034;
    background-color: white;
    border: 1px solid #f16034;
}

#categories-badge {
    border: 1px solid #f16034;
    color: #f16034;
}

#categories-badge:hover {
    border: 1px solid #f16034;
    background-color: #f16034;
    color: white;

}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    body {
        background: url('../media/hero-image-lg.png') no-repeat center fixed;
        background-size: cover;
    }
  .container {
    max-width: 80%;
  }
}


/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

/* pad the top collapsed on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);
    }
}