html {
    height: 100%;
}

body {
    background: url('../media/hero-image.png') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #555;
    font-family: 'Lato';
}

.has-search .form-control {
    padding-left: 2.375rem;
}

/* Insert search icon inside search box */
.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

.shop-now-button {
    min-width: 260px;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: white;
	z-index: -1;
}

.btn-shopping-cart {
    background-color: #f16034 !important;
    color: white !important; /* use to override link colors for <a> elements */
    border: 1px solid white !important;
}

.btn-shopping-cart:hover,
.btn-shopping-cart:active,
.btn-shopping-cart:focus {
    background-color: white !important;
    color: #f16034 !important; /* use to override link colors for <a> elements */
    border: 1px solid #f16034 !important;
}

.nav-item:hover,
#specials-link:hover,
.user-options:hover,
#shop-cart:hover,
#preworkout-link:hover,
#protein-link:hover,
#all-products-link:hover {
    color: #f16034;
    border-bottom: 1px solid #f16034;
}

.btn-qnty {
    background-color: #f16034 !important;
    color: white !important;
    border-radius: 20px 20px 0 0;
}

.btn-qnty:hover {
   background-color: white !important;
   color: #f16034 !important;
   border: 1px solid #f16034 !important;
}

.update-link,
.remove-item {
    cursor: pointer;
}

/* ------------------------------- Toasts message container */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.btn-color-base {
    background-color: #f16034 !important;
    color: white !important;
}

.btn-color-base:hover,
.btn-color-base:active,
.btn-color-base:focus {
    background-color: white !important;
    color: #f16034 !important;
    border: 1px solid #f16034 !important;
}

/* back to the top button hover effect*/
#btt-button {
    height: 41px;
    width: 41px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    color: white;
    background-color: #f16034;
    border: 2px solid white;
}

#toast-checkout {
    width: 100%;
}

#btt-button:hover {
    background-color: white;
    border: 2px solid #f16034;
    cursor: pointer;
    box-shadow: 0px 0px 20px rgba(241, 96, 52,.3);
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}

#btt-link {
    color: white;
}

#btt-link:hover {
    color: #f16034;
}

#product-card:hover {
    box-shadow: 0px 0px 20px rgba(241, 96, 52,.3);
    overflow: hidden;
}

#product-card:hover img{
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}

#thunder-logo {
    color: white;
}
#thunder-logo:hover{
    color: #f16034;
}

.search-input:hover {
    border: 2px solid #f16034;
}

.search-input:hover::placeholder,
.search-input:focus::placeholder,
.search-input:active::placeholder {
    color: #f16034;
}

#shop-now-button {
    color: white;
    background-color: #f16034;
    border: 1px solid white;
    
}

#shop-now-button:hover {
    font-weight: bold;
    color: #f16034;
    background-color: white;
    border: 1px solid #f16034;
}

#categories-badge {
    border: 1px solid #f16034;
    color: #f16034;
}

#categories-badge:hover {
    border: 1px solid #f16034;
    background-color: #f16034;
    color: white;

}

/*--------------------------------- Allauth templates */

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
	display: inline-block; 
    font-weight: 400;
    color: white;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #f16034;
    border: 1px solid #f16034 !important;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 10px;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	color: #f16034;
    background-color: white;
    border-color: #f16034;
}

.allauth-form-inner-content a {
	color: #17a2b8; /* text-info */
}



/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    body {
        background: url('../media/hero-image-lg.png') no-repeat center fixed;
        background-size: cover;
    }
  .container {
    max-width: 80%;
  }
}


/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

/* pad the top collapsed on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);
    }

    .display-4.logo-font.text-black {
        font-size: 2rem;
    }

    .nav-link {
        padding: 0.15rem;
    }

    .nav-link i.fa-lg {
        font-size: 1rem;
    }

    .navbar-toggler {
        padding: .6rem .6rem;
        font-size: 1rem;
    }

    #delivery-banner h4 {
        font-size: .9rem;
    }

    .btn.btn-outline-black.rounded-0,
    .btn.btn-black.rounded-0 {
        padding: .375rem .375rem;
    }

    .btn.btn-outline-black.rounded-0.btn-lg,
    .btn.btn-black.rounded-0.btn-lg {
        padding: .375rem .375rem;
        font-size: .75rem;
    }

    .increment-qty, .decrement-qty {
        padding: .25rem .5rem !important;
    }
}

/* Newsletter MailChimp */
#mc_embed_signup{
    color: white;
    clear:left; 
    font:14px Helvetica,Arial,sans-serif; 
    width: px;}

/* footer */
.footer-link:hover,
.footer-link:active,
.footer-link:focus {
    color: #f16034 !important;
}
