<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link mr-5 dropdown-toggle" href="#" id="all-products-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" rel="all-products">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item" rel="filter-price">By Price</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item " rel="filter-category">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item" rel="all-products">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link mr-5 dropdown-toggle" href="#" id="protein-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" rel="protein">
                Protein
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="protein-link">
                <a href="{% url 'products' %}?category=whey-protein" class="dropdown-item" rel="whey-protein">Whey Protein</a>
                <a href="{% url 'products' %}?category=whey-isolate" class="dropdown-item" rel="whey-isolate">Whey Isolate</a>
                <a href="{% url 'products' %}?category=vegan-protein" class="dropdown-item" rel="vegan-plant-protein">Vegan / Plant Protein</a>
                <a href="{% url 'products' %}?category=whey-protein,whey-isolate,vegan-protein" class="dropdown-item" rel="all-protein">All Protein</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link mr-5 dropdown-toggle" href="#" id="preworkout-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" rel="pre-workout">
                Pre-Workout
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="preworkout-link">
                <a href="{% url 'products' %}?category=powder-pre-workout" class="dropdown-item" rel="powder-pre-workout">Powder Pre-workout</a>
                <a href="{% url 'products' %}?category=energy-drinks" class="dropdown-item" rel="energy-drinks">Energy Drinks</a>
                <a href="{% url 'products' %}?category=powder-pre-workout,energy-drinks" class="dropdown-item" rel="all-preworkouts">All Pre-Workouts</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link dropdown-toggle" href="#" id="specials-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" rel="special-offers">
                Special Offers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="{% url 'products' %}?category=deals" class="dropdown-item" rel="deals">Deals</a>
                <a href="{% url 'products' %}?category=clearance" class="dropdown-item" rel="clearance">Clearance</a>
                <a href="{% url 'products' %}?category=deals,clearance" class="dropdown-item" rel="all-specials">All Specials</a>
            </div>
        </li>
    </ul>
</div>