{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    {% block meta %}
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% endblock %}

    <!-- to add extra meta tags in other pages if needed-->
    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer">
    <!-- MailChimp-->
    <link href="//cdn-images.mailchimp.com/embedcode/classic-061523.css" rel="stylesheet" type="text/css">
    {% endblock %}

    <!-- to add extra css files in other pages if needed-->
    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous">
    </script>
    <script src="https://js.stripe.com/v3/"></script>
    {% endblock %}

    <!-- to add extra js files in other pages if needed-->
    {% block extra_js %}
    {% endblock %}

    <!-- to add another title in other pages if needed-->
    <title>Thunder Nutrition {% block extra_title %}{% endblock%}</title>
</head>

<body>
    <header class="container-fluid fixed-top">
        <div id="topnav" class="row pt-lg-2 d-none d-lg-flex align-item-center justify-content-center bg-dark bg-gradient">
            <!-- Logo -->
            <div class="col-12 col-lg-4 my-auto py-1 py-lg-0 text-center text-lg-left">
                <a href="{% url 'home' %}" id="thunder-logo" class="nav-link main-logo-link">
                    <h2 class="logo-font my-0"><strong>Thunder</strong> Nutrition <i class="fa-solid fa-bolt"></i></h2>
                </a>
            </div>
            <!-- Search Bar -->
            <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
                <form method="GET" action="{% url 'products' %}">
                    <div class="form-group has-search">
                        <span class="fa fa-search form-control-feedback"></span>
                        <input type="text" id="search-input" class="form-control search-input" placeholder="Search" name="search">
                    </div>
                </form>
            </div>
            <!-- Account and Shopping Bag -->
            <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
                <ul class="list-inline list-unstyled text-center text-lg-right my-0 pt-4 px-3 d-flex justify-content-end">
                    <li class="list-inline-item dropdown">
                        <a class="text-white nav-link dropdown-toggle user-options" href="#" id="user-options" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <div class="text-center">
                                <div><i class="fa fa-user" style="color: #ffffff;"></i></div>
                                <p class="my-0 text-white">My Account</p>
                            </div>
                        </a>
                        <div class="dropdown-menu border-0" aria-labelledby="user-options">
                            {% if request.user.is_authenticated %}
                                {% if request.user.is_superuser %}
                                    <a href="{% url 'add_product' %}" class="dropdown-item">Product Management</a>
                                {% endif %}
                                <a href="{% url 'profile' %}" class="dropdown-item">My Profile</a>
                                <a href="{% url 'view_my_favourites' %}" class="dropdown-item">My Favourites</a>
                                <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                            {% else %}
                                <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                                <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                            {% endif %}
                        </div>
                    </li>
                    <!-- Shopping Cart Icon -->
                    <li class="list-inline-item mx-4">
                        <a class="{% if grand_total %}text-info font-weight-bold{% else %}text-white{% endif %} nav-link link-unstyled" href="{% url 'view_shopping_cart' %}" id="shop-cart">
                            <div class="text-center">
                                <div><i class="fa fa-cart-shopping" style="color: #ffffff;"></i></div>
                                <p class="my-0">
                                    {% if grand_total %}
                                        {{ grand_total|floatformat:2 }}€
                                    {% else %}
                                        0.00€
                                    {% endif %}
                                </p>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- Mobile Navbar -->
        <div class="row bg-black bg-gradient bg-opacity-50 mr-3">
            <nav class="navbar navbar-dark bg-dark navbar-expand-lg navbar-light w-100">
                <button class="navbar-toggler ms-3" type="button" data-bs-toggle="collapse" data-bs-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                {% include 'includes/mobile-top-header.html' %}
                {% include 'includes/main-nav.html' %}
            </nav>
        </div>
    </header>

    <!-- Container to display validation messages to user -->
    {% if messages %}
    <div class="message-container">
        {% for message in messages %}
            {% with message.level as level %}
                {% if level == 40 %}
                    {% include 'includes/toasts/toast_error.html' %}
                {% elif level == 30 %}
                    {% include 'includes/toasts/toast_warning.html' %}
                {% elif level == 25 %}
                    {% include 'includes/toasts/toast_success.html' %}
                {% else %}
                    {% include 'includes/toasts/toast_info.html' %}
                {% endif %}
            {% endwith %}
        {% endfor %}
    </div>
    {% endif %}

    <!-- to add titles below the main header in other pages if needed-->
    {% block page_header %}
    {% endblock %}

    <!-- to add content in the pages -->
    {% block content %}
    {% endblock %}
    <!-- footer -->
    <footer class="py-3 mt-5 bg-dark bg-gradient footer">
        <div class="container">
            <ul class="nav justify-content-center border-bottom pb-3 mb-3 text            -white">
                <li class="nav-item"><a href="/" class="footer-link nav-link px-2 text-white">Home</a></li>
                <li class="nav-item"><a href="/products/" class="footer-link nav-link px-2 text-white">Shop Now</a></li>
                <li class="nav-item"><a href="/contact/" class="footer-link nav-link px-2 text-white">Contact Us</a></li>
            </ul>
            <!-- Newsletter  -->
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <div id="mc_embed_shell">
                        <div id="mc_embed_signup">
                            <form action="https://herokuapp.us22.list-manage.com/subscribe/post?u=97e6cca47cb41387f631d72bf&amp;id=6a54e577d2&amp;f_id=00f3c9e1f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
                                <div id="mc_embed_signup_scroll">
                                    <h2>Subscribe to our Newsletter!</h2>
                                    <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
                                    <div class="mc-field-group">
                                        <label for="mce-EMAIL">Email Address <span class="asterisk">*</span></label>
                                        <input type="email" name="EMAIL" class="required email form-control" id="mce-EMAIL" required="" value="">
                                    </div>
                                    <div id="mce-responses" class="clear foot">
                                        <div class="response" id="mce-error-response" style="display: none;"></div>
                                        <div class="response" id="mce-success-response" style="display: none;"></div>
                                    </div>
                                    <div aria-hidden="true" style="position: absolute; left: -5000px;">
                                        <div class="col-12 m-0">
                                            <input type="text" name="b_97e6cca47cb41387f631d72bf_6a54e577d2" tabindex="-1" value="" class="form-control">
                                        </div>
                                    </div>
                                    <div class="optionalParent">
                                        <div class="col-5 m-0">
                                            <input type="submit" name="subscribe" id="mc-embedded-subscribe" class="btn btn-color-base rounded-3 m-0 w-100" value="Subscribe">
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>          
                <div class="col-lg-5 col-md-12">
                    <p class="text-center pt-lg-5 pt-md-0">
                        <a href="https://www.termsfeed.com/live/55aa67b4-f54f-4391-b130-210733abe96d" target="_blank" class="footer-link text-center text-decoration-none text-white">Terms and Conditions</a>
                    </p>
                    <p class="text-center text-white">© 2024 Developed by 
                        <a href="https://github.com/Cesargarciajr" target="_blank" class="footer-link text-decoration-none text-white"><strong>Cesar Garcia</strong></a>
                        as final project for 
                        <a href="https://codeinstitute.net/ie/" target="_blank" class="footer-link text-decoration-none text-white"><strong>Code Institute</strong></a>
                    </p>
                </div>
            </div> 
        </div>
    </footer>
    <!-- to add js files to be loaded at the end of other pages if needed-->
    {% block postloadjs %}
    <script>
        jQuery(document).ready(function($) {
            $('.toast').toast('show');
        });
    </script>
    {% endblock %}
    <!-- Script for Mailchimp Newsletter -->
    <script src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"></script>
    <script>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='ADDRESS';ftypes[3]='address';fnames[4]='PHONE';ftypes[4]='phone';fnames[5]='BIRTHDAY';ftypes[5]='birthday';}(jQuery));var $mcj = jQuery.noConflict(true);</script></div>                  
</body>

</html>