{% extends "base.html" %}
{% load static %}
{% load rating_filters %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
            <div class="image-container my-5">
                <a href="{{ product.image.url }}" target="_blank">
                    <img class="card-img-top img-fluid" src="{{ product.image_url }}" alt="{{ product.name }}">
                </a>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-5">
            <div class="product-details-container mb-5 mt-md-5">
                <h4 class="mb-0">{{ product.name }}</h4>
                <hr>
                <p class="lead mb-0 text-left font-weight-bold"><strong>{{ product.price }}€</strong></p>
                {% if product.category %}
                <p class="small mt-1 mb-0">
                    <a class="text-muted link-underline link-underline-opacity-0"
                        href="{% url 'products' %}?category={{ product.category.name }}">
                        <i class="fa-solid fa-list"></i> {{  product.category.display_name }}
                    </a>
                </p>
                {% endif %}
                {% if request.user.is_superuser %}
                    <small class="ml-3">
                        <a href="{% url 'edit_product' product.id %}">Edit</a> | 
                        <a class="text-danger" href="{% url 'delete_product' product.id %}">Delete</a>
                    </small>
                {% endif %}
                <br>
                <h5 class="mb-0">Description:</h5>
                <p class="mt-3">{{ product.description }}</p>
                <!-- Add to shopping cart form-->
                <form class="form" action="{% url 'add_to_shopping_cart' product.id %}" method="POST">
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="col-10">
                            <!-- Allow user to select quantity -->
                            <p class="mt-3"><strong>Quantity:</strong></p>
                            <div class="form-group w-50">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <button class="decrement-qty btn btn-qnty rounded-3" 
                                            data-item_id="{{ product.id }}" id="decrement-qty_{{ product.id }}">
                                            <span class="icon">
                                                <i class="fas fa-minus"></i>
                                            </span>
                                        </button>
                                    </div>
                                    <input class="form-control qty_input" type="number"
                                        name="quantity" value="1"
                                        data-item_id="{{ product.id }}"
                                        id="id_qty_{{ product.id }}">
                                    <div class="input-group-append">
                                        <button class="increment-qty btn btn-qnty rounded-3"
                                            data-item_id="{{ product.id }}" id="increment-qty_{{ product.id }}">
                                            <span class="icon">
                                                <i class="fas fa-plus"></i>
                                            </span>
                                        </button>
                                    </div>
                                </div>
                                <button type="submit" class="btn rounded-3 btn-shopping-cart text-uppercase mt-5">
                                <i class="fas fa-shopping-cart"></i> Add to cart
                                </button>
                                <input type="hidden" name="redirect_url" value="{{ request.path }}">
                            </div>
                        </div>
                    </div>
                </form>
                <div class="col-12">
                    <div class="col">
                        <form class="form" action="{% url 'add_to_favourites' product_id=product.id %}" method="POST">
                            {% csrf_token %}
                            <div class="form-row mt-3">
                                <div class="">
                                    <input class="form-control qty_input" type="hidden" name="quantity" value="1" data-item_id="{{ item.product.id }}" id="id_qty_{{ item.product.id }}">
                                    <button type="submit" class="btn rounded-3 btn-shopping-cart text-uppercase"><i class="fas fa-heart"></i> Add to Favourites</button>
                                </div>
                                <input type="hidden" name="redirect_url" value="{{ request.path }}">
                            </div>
                        </form>
                    </div>
                    <a href="{% url 'products' %}" class="btn btn-shopping-cart rounded-3 mt-2 btn-color-base">
                        <span class="icon">
                            <i class="fas fa-chevron-left"></i>
                        </span>
                        <span class="text-uppercase">Keep Shopping</span>
                    </a>
                </div>
            </div>
            <hr>
            <div class="row align-items-center justify-content-center m-1">
                <h5> 
                    {% if total_reviews > 0 %}
                        ({{total_reviews }})
                    {% endif %}
                    Reviews
                    {% for star in avg_rate|to_range %}
                        <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                    {% endfor %}
                    {% if avg_rate > 0 %}
                        {{ avg_rate }}/5
                    {% endif %}
                </h5>
                        {% if reviews %}
                        {% for review in reviews %}
                            <div class="card-review p-3 mt-3" style="box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; border-radius: 10px;">
                                <h6 class="mb-0">{{ review.user.username }}</h6>
                                <span>
                                    {% for star in review.stars|to_range %}
                                            <i class="fa-solid fa-star mt-3" style="color: #FFD43B;"></i>
                                    {% endfor %}
                                </span>
                                <p>{{ review.comment }}</p>
                            </div>
                            <br>
                        {% endfor %}
                    {% else %}
                        <p>No reviews yet</p>
                    {% endif %}
                        <hr class="mt-3">{% if user.is_authenticated %}
                        <form action="{% url 'product_detail' product.id %}" method="POST">
                            {% csrf_token %}
                            <div class="form-row">
                                <div class="col-12">
                                    <h5>Your feedback is important to us!</h5>
                                    <p class="m-0">How many stars?</p>
                                    <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                                    <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                                    <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                                    <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                                    <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                                    <input class="form-control rounded-2 w-25" name="rate" type="number" max="5" min="0" value="1" required>
                                    <p class="mt-3"><strong>Write your Review: </strong></p>
                                    <div class="form-group col-12">
                                        <div class="input-group col-12">
                                            <textarea class="form-control col-12" name="comment" id="comment" rows="6" placeholder="Please write your review here..."></textarea>
                                        </div>
                                    </div>
                                    <input type="submit" value="Submit" class="btn btn-color-base rounded-3 mt-2">
                                </div>
                            </div>
                        </form>
                    {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_script.html' %}
<script>
    // Example JavaScript code to ensure the value falls within a specific range
    var quantityInput = document.querySelector('.qty_input');
    var quantity = 1; // For example, retrieve or calculate the quantity value dynamically
    
    // Ensure quantity falls within the specified range
    if (quantity < 1) {
        quantity = 1;
    } else if (quantity > 99) {
        quantity = 99;
    }

    // Set the value of the hidden input
    quantityInput.value = quantity;
</script>
{% endblock %}