<div class="toast custom-toast rounded-3 border-top-0 top-0 end-0" role="alert" aria-live="assertive"
    aria-atomic="true">
    <div class="toast-header bg-success-subtle">
        <strong class="me-auto">Success! <i class="fa-solid fa-circle-check"></i></strong>
        <button type="button" class="btn-close ml-3 mb-1 close text-dark" data-bs-dismiss="toast"
            aria-label="Close"></button>
    </div>
    <div class="toast-body bg-white">
        <div class="row">
            <div class="col">
                {{ message }}
                <hr class="mt-1 mb-3">
            </div>
        </div>
        {% if grand_total %}
            <p class="logo-font bg-white text-black py-1">Items: ({{ product_count }})</p>
            <div class="cart-notification-wrapper">
                {% for item in shopping_cart_items %}
                    <div class="row">
                        <div class="col-3 my-1">
                            <img class="w-100" src="{{ item.product.image_url }}">
                        </div>
                        <div class="col-9">
                            <p class="my-0"><strong>{{ item.product.name }}</strong></p>
                            <p class="my-0 small text-muted">Qty: {{ item.quantity }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="row">
                <div class="col">
                    <strong><p class="mt-3 mb-1 text-black">
                        Total{% if free_delivery_delta > 0 %} (Exc. delivery){% endif %}: 
                        <span class="float-right">{{ total|floatformat:2 }}€</span>
                    </p></strong>
                    {% if free_delivery_delta > 0 %}
                        <p class="mt-1 mb-0 p-2 text-danger bg-warning-subtle shadow-sm text-center">
                            Spend <strong>{{ free_delivery_delta }} €</strong> more to get free next day delivery!
                        </p>
                    {% endif %}
                    <a href="{% url 'view_shopping_cart' %}" class="btn btn-color-base rounded-3" id="toast-checkout">
                        <span class="text-uppercase">Go To Secure Checkout</span>
                        <span class="icon">
                            <i class="fas fa-lock"></i>
                        </span>
                    </a>
                </div>
            </div>
        {% endif %}
    </div>
</div>